/* Web Theme Customizations */

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6
{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

.markdown-section h1:first-child,
.markdown-section h2:first-child,
.markdown-section h3:first-child,
.markdown-section h4:first-child,
.markdown-section h5:first-child,
.markdown-section h6:first-child
{
	margin-top: 0;
}

.markdown-section h1 {
	text-align: center;
	font-weight: 100;
	margin-top: .85em;
	font-size: 2.25em;
}

.markdown-section h1 strong {
	font-weight: 200;
}

.markdown-section h2 {
	color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: 300;
}

.book.two-columns .api-method .api-method-definition h2:first-child {
	padding-top: 30px;
}

.book.color-theme-3 .book-body section .api-method-code h2 {
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

.book .book-body .page-wrapper .page-inner {
	max-width: 100%;
}

.book .book-body section #page-footer {
	text-align: center;
	font-size: 70%;
	text-transform: uppercase;
	opacity: 0.8;
}

.book .book-header h1 {
	opacity: 0.85;
}
